pyrofork
TgCrypto
motor
aiofiles
dnspython
psutil
render
requests
Flask==1.1.2
gunicorn==20.1.0
Jinja2==2.11.3   # Compatible version for Flask 1.1.2
werkzeug==1.0.1  # Compatible version for Flask 1.1.2
itsdangerous==1.1.0  # Compatible version for Flask 1.1.2
